<div class="container">
  <div class="row">
    <div class="col-md-8">
            <h5>Create Issue</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-sm-12">
      <form>
        <div class="form-group">
          <label>Project</label>
        <select class="form-control" ng-model="data.project" ng-change="getProjectFields()" ng-options="project.prefix for project in projects track by project.prefix">
          </select>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div ng-repeat="field in fieldsObj.fields">
        <div class="form-group">
          <label>{{field.name}}</label>
          <div ng-if="field.type ==  'enum'">
            <select class="form-control" ng-model="fieldsData[field._id]">
              <option ng-repeat="value in field.values" value="{{value}}">{{value}}</option>
            </select>
          </div>
          <div ng-if="field.type ==  'bool'">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="data.fields[field._id]"> {{field.name}}
              </label>
            </div>
          </div>
          <div ng-if="field.type ==  'freetext'">
            <input type="text">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <p>{{data.tags}}</p>
        <p>{{fieldsData}}</p>
</div>
</div>
  </div>
    <div class="col-md-8">
        <div class="form-group">
            <label class="sr-only">Title</label>
            <input type="text" name="title" class="form-control" placeholder="Title" ng-model="data.title">
        </div>
        <div class="form-group">
        <label class="sr-only">Tags</label>
        <tags-input ng-model="data.tags" display-property="name" add-from-autocomplete-only="true">
              <auto-complete source="getTags()" load-on-focus="true" load-on-empty="true"></auto-complete>
        </tags-input>
    </div>
        <div class="form-group">
            <label class="sr-only">Description</label>
            <div class="textAngularControls" text-angular ng-model="data.description"></div>
        </div>
        <div class="form-group">
          <label class="sr-only">Attachments</label>
          <div id="direct_upload"
              ngf-drop="uploadFiles($files)"
              ngf-drag-over-class="dragOverClass($event)"
              ng-model="files"
              ng-multiple="true">
              <h4>Add Screenshot</h4>
              <p>You can also drag and drop an image file into the dashed area.</p>
              <form>
                  <div class="form_line">
                      <label path="title">Title:</label>
                      <div class="form_controls">
                          <input type="text" class="form-control" placeholder="Title" ng-model="title" />
                      </div>
                  </div>
                  <div class="form_line">
                      <label>Image:</label>
                      <div class="form_controls">
                          <div class="upload_button_holder">
                              <div href="#" class="upload_button" ngf-select="uploadFiles($files)" multiple title="upload" resetOnClick="true" >Upload</div>
                          </div>

                      </div>
                  </div>
              </form>
              <h2>Status</h2>
              <div class="file" ng-repeat="file in files">
                  <h3>{{file.name}} {{f.$error}} {{f.$errorParam}}</h3>
                  <div class="status">{{file.status}}</div>
                  <div class="progress-bar">
                    <div class="progress" style="width: {{file.progress}}%" ng-init="progress=0"></div>
                  </div>
                  <div class="form_line">
                      <div class="form_controls">
                          <div class="preview">
                              <img ngf-src="file.result.url || file">
                          </div>
                      </div>
                  </div>
                  <div class="info">
                    <table>
                      <tr ng-repeat="(key, value) in file.result">
                        <td> {{key}} </td> <td> {{ value }} </td>
                      </tr>
                    </table>
                  </div>
              </div>
          </div>
        </div>
        <button type="submit" class="btn btn-md btn-default" ng-click="createIssue()">Create Issue</button>&nbsp;
        <button type="submit" class="btn btn-md btn-default" ng-click="createIssue(true)">Create and New</button>
      </form>
    </div>
  </div>
</div>
