
.auth .panel {
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 8px 17px rgba(0, 0, 0, .2);
}

.auth .panel-default > .panel-heading {
  font-size: 85%;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
  background-color: #f6f6f6;
  border-color: #cfd9db;
}

.auth .form-control {
  border-radius: 0;
}

.auth .center-form {
  width: 330px;
  margin: 12% auto;
}

.auth .signup-or-separator {
  position: relative;
  height: 34px;
  text-align: center;
  background: none;
}

.auth .signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0;
}

.auth .signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff;
}

.auth .has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}

.password-strength-indicator {
  position: absolute;
  top: 10px;
  right: 0;
  width: 5px;
  padding: 0 15px;
}

.password-strength-indicator span {
  display: block;
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  background: #ebeef1;
  border-radius: 5px;
}

[class^='ion-'] {
  font-size: 1.2em;
}

.has-feedback .form-control {
  padding-left: 42.5px;
}

.alert-material {
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 1;
  display: inline-block;
  min-height: 48px;
  padding: 13px 24px 12px;
  font-family: 'Roboto', sans-serif;
  color: #f1f1f1;
  cursor: default;
  background: #323232;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.auth  .btn {
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.auth .btn-primary {
  background-color: #4285f4;
}

.auth .btn-primary:hover {
  background-color: #3367d6;
}

.auth .btn-success {
  background-color: #0f9d58;
}

.auth .btn-success:hover {
  background-color: #196c4a;
}

.auth .btn-danger {
  background-color: #db4437;
}

.auth .btn-danger:hover {
  background-color: #b04c3b;
}

.auth .btn-group-vertical .btn {
  margin-bottom: 10px;
}

.auth .btn-group-vertical > .btn:first-child:not(:last-child) {
  border-radius: 2px;
}

.auth .btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 2px;
}

.auth .btn-group-vertical > .btn:last-child:not(:first-child) {
  border-radius: 2px;
}

.auth .btn-lg {
  font-size: 14px;
}

.auth .btn [class^='ion-'] {
  margin-right: 5px;
}

.auth .btn .fa {
  margin-right: 5px;
}
